<div class = "container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary homeButtons">View My Personal Profile</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary homeButtons">Course Management</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary homeButtons">Send Notification</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary homeButtons">Account Management</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary homeButtons">Search For Users or Courses</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger homeButtons logOutButton">Log Out</button>
        </div>
    </div>
</div>