    {% csrf_token %}
    <div class = "container">
    <div class="row">
        <div class="col">
            <form method="get" action="/MyProfile/">
                {% csrf_token %}
                <input class="btn btn-primary homeButtons" type="submit" value="View My Personal Profile">
            </form>
        </div>
        <div class="col">
            <form method="get" action="/MyCourses/">
                {% csrf_token %}
                <input class="btn btn-primary homeButtons" type="submit" value="View My Course Assignments">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="get" action="/search/">
                {% csrf_token %}
                <input class="btn btn-primary homeButtons" type="submit" value="Search for Users or Courses">
            </form>
        </div>
        <div class="col">
            <form method="get" action="#">
                {% csrf_token %}
                <input class="btn btn-primary homeButtons" type="submit" value="Send Notification">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="/logout/">
                {% csrf_token %}
                <input class="btn btn-danger homeButtons logOutButton" type="submit" value="Log Out">
            </form>
        </div>
    </div>
</div>