{% if user %}
    <div class="mx-auto text-center">
        {% with user.getFirstName|add:" "|add:user.getLastName as fullname %}
            <h1>{{ fullname }}'s Profile</h1>
        {% endwith %}
        <table class="table text-center margTop">
            <thead>
            <tr class="table-primary">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Type of User</th>
                <th scope="col">Email</th>
                <th scope="col">Related Courses</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">{{ user.getFirstName }}</th>
                <td>{{ user.getLastName }}</td>
                <td>{{ user.getUserType }}</td>
                <td>{{ user.getEmail }}</td>
                <td>
                    {% for course in user.getCourses %}
                        <a href="{% url 'course' %}?current_course={{ course.course_ID }}">
                            {{ course.name }}
                        </a>
                        <br>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endif %}
<a class="min-vw-100" href="/search/">
    <input class="btn btn-danger redButton" type="submit" value="Return To Search Page">
</a>