<div class = "container">
    <div class="row">
        <div class="col">
            <a href="#">
                {% csrf_token %}
                <input class="btn btn-primary homeButtons" type="submit" value="Create Account">
            </a>
        </div>
        <div class="col">
            <a href="#">
                {% csrf_token %}
                <input class="btn btn-primary homeButtons" type="submit" value="Edit Account">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
             <a href="#">
                {% csrf_token %}
                <input class="btn btn-danger homeButtons redButton" type="submit" value="Delete Account">
             </a>
        </div>
        <div class="col">
            <a href="/home/">
                <input class="btn btn-primary homeButtons" type="submit" value="Return Home">
            </a>
        </div>
    </div>
</div>